#content {
    max-width: $max_content_width;
    margin: auto;
    padding: 20px;

    .flex-title {
        h1 {
            margin: 0;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: $mobile_width) {
        .flex-title {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
    }

    iframe#calendar {
        width: calc(100% - 10px);
        height: 90vh;
        padding: 5px;
        background-color: white;
        border-radius: 5px;
        margin-top: 20px;
    }

    h1:first-child {
        margin-top: 0px;
    }
}
