header {
    max-width: $max_width;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-bottom: 1px dashed $accent_red;
    padding: 20px;
    margin: 0 auto;

    img.logo {
        height: 180px;
        border-radius: 5px;
    }

    #nav-div {
        width: 100%;

        .top-bar {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        nav {
            font-size: medium;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px;

            a {
                color: $accent_red;
                text-decoration: none;
                padding: 10px 25px;
                border-radius: 5px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }
    }

    @media screen and (max-width: $mobile_width) {
        gap: 0px;
        flex-direction: column;

        #nav-div {
            nav {
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    @media screen and (max-width: $ultra_mobile_width) {
        #nav-div .top-bar #site-title {
            font-size: xx-large;
        }
    }
}
