html,
body {
    background-color: black;
    color: white;
    font-family: Montserrat;
}

body {
    line-height: 1.6;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: $accent_red;

    &:hover {
        text-decoration: underline dashed;
    }

    &.nounderline {
        text-decoration: none;
        display: contents;
    }

    &.button {
        display: inline-block;
        text-transform: uppercase;
        padding: 10px 25px;
        border-radius: 5px;

        &:not(.noborder) {
            border: 1px dashed $accent_red;
        }

        &:hover {
            background-color: $accent_red;
            color: $text !important;
            font-style: italic;
            text-decoration: none;
        }
    }
}

.text-right {
    text-align: right;
}

@media screen and (max-width: $mobile_width) {
    .mobile\:text-left {
        text-align: left;
    }
}
