<!doctype html>
<html lang="{{ .Language.Locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

        {{ $themeCSS := resources.Get "css/main.css" }}
        {{ $customCSS := resources.Get "css/custom.css" }}
        {{ $opts := dict "minify" true }}
        {{ $css := slice $themeCSS $customCSS | resources.Concat "css/bundle.css" | css.TailwindCSS $opts }}

        <link rel="stylesheet" href="{{ $css.RelPermalink }}">
        <link rel="shortcut icon" href="/assets/logo/favicon.ico" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <script defer src="https://go.stellarvector.be/go.js" data-website-id="2bfb19ad-e57e-4124-a51a-273cb690cedc" data-domains="stellarvector.be,www.stellarvector.be"></script>
    </head>
    <body class="antialiased">
        {{ partial "header.html" . }}

        <main id="content" class="max-w-4xl mx-auto px-5 min-h-[calc(100vh-300px)] py-10">
            {{ block "main" . }}{{ end }}
        </main>

        {{ partial "footer.html" . }}
    </body>
</html>
