{{ $isActive := false }}

{{ if eq .url "/" }}
    {{ $isActive = .page.IsHome }}
{{ else }}
    {{ $isActive = strings.Contains .page.RelPermalink .url }}
{{ end }}

<a class="btn font-bold py-3 px-5 text-accent-light after:transition-all after:duration-300 relative after:block after:absolute after:bottom-1 after:left-1/2 after:-translate-x-1/2 after:w-0 after:h-0.5 after:bg-accent-light after:rounded-full after:shadow-md hover:after:w-[70%] {{ if $isActive }}after:w-[70%]{{ end }}"
    href="{{ .url }}">{{ .text }}</a>