{{ define "main" }}
    {{ $upcoming := where .Site.RegularPages "Section" "events" }}
    {{ $upcoming = where $upcoming "Date" "ge" now }}
    {{ if $upcoming }}
        {{ $featured := index $upcoming.Reverse 0 }}
        <div class="bg-accent-tint border border-accent-dark rounded-xl mb-12 px-8 py-6 flex flex-col gap-4 relative overflow-hidden before:content-[''] before:absolute before:top-0 before:left-0 before:w-1 before:bg-accent-light before:z-10 before:h-full">
            <div class="text-accent-light font-bold text-sm">{{ $featured.Date.Format "Monday 02 January 2006 @ 15:04" }}</div>
            <h2 class="text-header !mt-0 !mb-0">{{ $featured.Title }}</h2>
            <div class="text-body leading-6 line-clamp-3">
                {{ $featured.Summary | plainify }}
            </div>
            <a class="py-2.5 px-6 text-accent-text rounded-md bg-accent no-underline cursor-pointer font-bold hover:no-underline hover:text-accent-text hover:bg-accent-light active:scale-95 self-start" href="{{ $featured.RelPermalink }}">&gt; view event details</a>
        </div>
    {{ end }}

    <h1 class="relative after:block after:absolute after:-bottom-2 after:left-0 after:w-12 after:h-1 after:bg-accent after:rounded-full">Welcome to Stellar Vector</h1>

    <div class="prose prose-invert prose-lg max-w-none transition-all mt-8">
        {{ .Content }}
    </div>
{{ end }}

