<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} | {{ site.title }}</title>
        <link rel="stylesheet" href="/assets/css/main.css?v={{ site.version }}">
        <link rel="shortcut icon" href="/assets/branding/logo/icon-star.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <img class="logo" src="/assets/branding/logo/circle-dark.svg" alt="{{ site.title }} Logo">
            <div id="nav-div">
                <div class="top-bar">
                    <h1 id="site-title"><i>{{ site.title }}</i></h1>
                    <a class="button" href="https://find.stellarvector.be/">Find us online</a>
                </div>
                <nav>
                    <!-- TODO: automatically generate based on config -->
                    <a class="button noborder" href="{% link pages/home.md %}">/home</a>
                    <a class="button noborder" href="{% link pages/calendar.html %}">/calendar</a>
                    <a class="button noborder" href="{% link pages/events.html %}">/events</a>
                    <a class="button noborder" href="//blog.stellarvector.be/">/blog</a>
                </nav>
            </div>
        </header>
        <div id="content">
            {{ content }}
        </div>
        <footer>
            <div>
                &copy; {{ site.title }}
                <br>
                A <a href="{{ site.social.loko_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-loko.svg" alt="LOKO Logo" target="_blank" height="16px" style="vertical-align: text-bottom">
                </a> recognized association
            </div>
            <div class="links">
                <a href="{{ site.social.github_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-github.svg" alt="Github Logo" target="_blank" width="30px">
                </a>
                <a href="{{ site.social.ctftime_team_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-ctftime.svg" alt="CTFtime Logo" target="_blank" height="30px">
                </a>
                <a href="{{ site.social.htb_team_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-htb.svg" alt="HackTheBox Logo" target="_blank" width="30px">
                </a>
                <a href="{{ site.social.discord_invite_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-discord.svg" alt="Discord Logo" target="_blank" width="30px">
                </a>
                <a href="{{ site.social.linkedin_page_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-linkedin.svg" alt="LinkedIn Logo" height="30px">
                </a>
                <a href="{{ site.social.twitter_page_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-twitter.svg" alt="Twitter Logo" height="30px">
                </a>
                <a href="{{ site.social.facebook_page_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-facebook.svg" alt="Facebook Logo" height="30px">
                </a>
                <a href="{{ site.social.instagram_page_link }}" class="nounderline">
                    <img src="/assets/images/icons/logo-instagram.svg" alt="Instagram Logo" height="30px">
                </a>
            </div>
        </footer>
    </body>
</html>
